@import url('https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css ')

@import 'children/index.styl'
@import 'children/show.styl'
@import 'children/create.styl'

.alert
    p:last-of-type
    	margin-bottom 0
.badge
	font-size 16px
.card-header
	h5
		margin-bottom 0	
table
	td
		vertical-align middle !important
.btn-cash-date
	.input-group-append
		background-color #ffffff !important