.children-create
    .tooltip-form
        display inline-block
        vertical-align middle
        margin-left 5px
        width 18px
        line-height 18px
        border-radius 50%
        color #ffffff
        background-color #222222
        cursor pointer
        text-align center