.card
    .dataTables_length,
    .dataTables_filter
        label
            display block
            .custom-select
            .form-control
                margin 0 10px
                display inline-block
                width auto
    .card-footer
        nav
            display inline-block
            .pagination
                margin-bottom 0